#title {
    text-align: center;
    font-size: 2em;
    border: 1px solid white;
}

.join {
    text-align: right;
}

.ck.ck-editor {
    max-width: 50%
}

.ck-editor__editable { 
    min-height: 50%
}