@charset "UTF-8";

#title {
    text-align: center;
    font-size: 2em;
}

.join {
    text-align: right;
}

.b_wrapper {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    position: relative;
}

#walkimg {
    width: 100%;
    height: 100%;
    position: relative;
}

#walk-list {
    width: 35%;
    height: 60%;
    position: absolute;
    top: 17%;
    left: 8%;
}

#walk-board {
    width: 80%;
    height: 10%;
    position: absolute;
    top: 84%;
    left: 13%;
}